// Color
$color-greekblue-1: #131629;
$color-greekblue-2: #161d40;
$color-greekblue-3: #1c2755;
$color-greekblue-4: #203175;
$color-greekblue-5: #263ea0;
$color-greekblue-6: #2b4acb;
$color-greekblue-7: #5273e0;
$color-greekblue-8: #7f9ef3;
$color-greekblue-9: #a8c1f8;
$color-greekblue-10: #d2e0fa;

$color-pink-1: #f37370;
$color-pink-2: #ff7875;
$color-pink-3: #f5222d;