.detailMovie{
    &__left{
        margin-left: 100px;
    }
    &__picture{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 200px;
            border-radius: 5px;
            height: 300px;
        }
    }
    &__content{
        color: #fff;
        margin-top: 80px;
        &__name{
            font-size: 20px;
            font-weight: 700;
        }
        &__span{
           background-color: $color-pink-2;
           padding: 5px;
           border-radius: 5px;
           margin-right: 5px;
           font-size: 20px;
        }
    }
    &__trailerButton{
        background-color: $color-greekblue-8;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        margin-right: 5px;
        transition: all 0.5s;
        &:hover{
            background-color: $color-greekblue-5;
        }
    }
    &__bookingButton{
        background-color: $color-pink-2;
        border: none;
        padding: 8px 20px;
        border-radius: 5px;
        color: white;
        transition: all 0.5s;
        &:hover{
            background-color: $color-pink-3;
            text-decoration: none;
            color: white;
        }
    }
}

canvas{
    width: 300px !important;
    height: 150px !important;
}