.react-player{
    width: 480px !important;
    height: 240px !important;
}
.modal-video{
    width: 500px !important;
    height: 220px !important;
}

@media only screen and (max-width:600px){
    .react-player{
        width: 400px !important;
        height: 200px !important;
    }
    .modal-video{
        width: 440px !important;
        height: 240px !important;
        position: absolute;
        top: 4%;
        left: 4%;
        transform: translate(-4%,-4%);
    }
}

@media only screen and (max-width:380px){
    .react-player{
        width: 300px !important;
        height: 180px !important;
    }
    .modal-video{
        width: 340px !important;
        height: 200px !important;
        position: absolute;
        top: 4%;
        left: 4%;
        transform: translate(-4%,-4%);
    }
}