.footerAdmin{
    height: 50px;
    background-color: $color-greekblue-2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        margin-bottom: 0;
    }
}